---
export interface Props {
    title: string;
}

const { title } = Astro.props;

import faviconAppleTouchIcon from "../assets/favicon/apple-touch-icon.png";
import favicon32 from "../assets/favicon/favicon-32x32.png";
import favicon16 from "../assets/favicon/favicon-16x16.png";
import webManifest from "../assets/favicon/site.webmanifest";
import opengraphImage from "../assets/opengraph.png";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href={faviconAppleTouchIcon}
        />
        <link rel="icon" type="image/png" sizes="32x32" href={favicon32} />
        <link rel="icon" type="image/png" sizes="16x16" href={favicon16} />
        <link rel="manifest" href={webManifest} />
        <title>{Astro.props.title}</title>

        <!-- Facebook Meta Tags -->
        <meta property="og:url" content="https://leetrooms.com" />
        <meta property="og:type" content="website" />
        <meta
            property="og:title"
            content="LeetRooms | Multiplayer rooms for LeetCode"
        />
        <meta
            property="og:description"
            content="⚔️ Multiplayer rooms for LeetCode"
        />
        <meta property="og:image" content={opengraphImage} />

        <!-- Twitter Meta Tags -->
        <meta name="twitter:card" content="summary_large_image" />
        <meta property="twitter:domain" content="leetrooms.com" />
        <meta property="twitter:url" content="https://leetrooms.com" />
        <meta
            name="twitter:title"
            content="LeetRooms | Multiplayer rooms for LeetCode"
        />
        <meta
            name="twitter:description"
            content="⚔️ Multiplayer rooms for LeetCode"
        />
        <meta name="twitter:image" content={opengraphImage} />
    </head>
    <body class="overscroll-none min-h-screen h-full bg-[#0B1015]">
        <slot />
    </body>
</html>

<style is:global>
    html {
        color-scheme: dark;
    }
</style>
